/* Main Stylesheet */
/* Typeography */
@import url(https://fonts.googleapis.com/css?family=Paytone+One);

@import url(https://fonts.googleapis.com/css?family=Poiret+One);


/* Global */
/* Homepage */
body {
  background: #3F3E47
}

p {
  color: white;
  font-family: 'Poiret One', cursive;
  width: 760px;
  margin: 0 auto;
  padding: .6em;
}

h1 {
  color: white;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  font-size: 5em;
  letter-spacing: .03em;
}

h2 {
  color: white;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: .04em;
}

h3 {
  color: white;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  font-size: 2.5em;
  letter-spacing: .04em;
}

.homeimage {
  background: ;
  text-align: center;
  position: relative;
  
  height: 50%;
  width: 100%;
}

#backpics2, 
#backpics3 {
  position: absolute;
}

#backpics1 {
  width: 30%;
}

#backpics2 {
  width: 15%;
  left: 20%;
  top: 25%;
  opacity: .3;
  border-bottom: 20px solid #3B6047;
  
}
#backpics3 {
  width: 15%;
  right: 20%;
  top: 25%;
  opacity: .3;
  border-bottom: 20px solid #3B6047;
}

.rt {
  letter-spacing: .1em;
}

nav li {
  display: inline-block;
  font-size: 2em;
  margin: 0 auto;
  padding: 1em;
}

nav {
  font-family: Poiret One;
  text-align: center;
}

li {
  font-size: 1em;
  letter-spacing: .1em;
  margin: 0 auto;
  color: white;
  margin: 0 auto;
}


a{
  text-decoration: none;
  color: white;
}

a:hover{
  background: #2AA1CC;
}

a:visited {
  color: white;
}

a:active{
  background: white;
}

a:focus {
  border-style: solid;
  color: white;
  border-radius: 10px;  
  padding: 10px;
}






/* Resume */

divp {
  color: white;
}
/* Portfolio */
