body {
 width: 100%;
 max-width: 1000px;
 margin-left: auto;
 margin-right: auto;
 margin-top: 165px;
 padding: 0;
}

h1 {
 font-size: 2em;
 padding: 52px 0px 10px 20px; 
 text-transform: uppercase;
 color: white;
 margin: 0;
 }
 
 h2 {
   font-size: 1.1em;
   padding: 15px 5px 10px 20px; 
   text-transform: uppercase;
   color: #white;
   margin: 0;
 }

h3 {
   font-weight: normal;
   font-size: 1em;
   padding: 0px 5px 15px 20px; 
   color: #2AA1CC;
   margin: 0;
 }
    
p {
 padding: 0px 10px 15px 20px; 
 font-family: Arial; sans-serif;
 font-size: 1em;
 color: white;
 margin: 0;
}

a {
 text-decoration: none;
 color: #3b3b3b;
 transition: color .35s;
} 

a:hover {
text-decoration: none;
 color: #008b8b; 
}

.leftp {
  width:66%;
  min-width: 332px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.right {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  text-color: white;
}

#header {
  width: 90%;
  max-height: 143px;
  max-width: 1000px;
  background-color: #5D7175;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  box-shadow: 10px 10px 5px #35333E;
}

#footer {
  width: 100%;
  background-color: #5D7175; 
  margin: 0;
}

#name {
 float: left;
 margin-right: 20px;
}

#name p {
  padding: 0px 0px 45px 20px;
}

#photo img {
 padding: 20px;
 border-radius: 50%;
 display: inline-block;
 width: 125px;
 height: 125px;
 float: right;
}
@media (max-width: 500px) {
  #photo img {
   display: none;
  }
  .left {
  width: 100%;
}

.right {
  width: 100%;
 
}
}